.heading{
    color: red;
    font-family: tahoma;
    text-align: center;
}

#warning{
    text-align: center;
    color: red;

}

.who{
    text-align: center;
    width: 50%;
    background-color: rgb(18, 0, 175);
    color: white;
    margin-left: 24%;
    font-family: Tahoma;
    padding: 20px;
    border: 15px solid red;
}
.saiz{
    font-size: 250%;
}
.slogan{
    color: yellow;
}

.hot{
    background-color: red; 
    color: white;
    text-align: center;
    width: 10%;
}
.news{
    background-color: rgb(143, 238, 255);
}